version: "3.9"

services:
  nginx:
    image: nginx:stable-alpine
    container_name: nginx
    ports:
      - "${NGINX_PORT}:80"
    volumes:
      - ./nginx/nginx.conf.template:/etc/nginx/conf.d/default.conf.template:ro
    environment:
      - ACTIVE_POOL=${ACTIVE_POOL:-green}
    depends_on:
      - blue
      - green
    command: >
      /bin/sh -c '
      set -ex;
      echo "[DEBUG] ACTIVE_POOL=${ACTIVE_POOL}";
      if [ "${ACTIVE_POOL}" = "green" ]; then
        PRIMARY="green_app:80";
        BACKUP="blue_app:80";
      else
        PRIMARY="blue_app:80";
        BACKUP="green_app:80";
      fi;
      export PRIMARY BACKUP;
      echo "[DEBUG] Using PRIMARY=${PRIMARY} BACKUP=${BACKUP}";
      envsubst "${PRIMARY} ${BACKUP}" < /etc/nginx/conf.d/default.conf.template > /etc/nginx/conf.d/default.conf;
      nginx -t;
      exec nginx -g "daemon off;";
      '

  blue:
    image: ${BLUE_IMAGE}
    container_name: blue_app
    ports:
      - "${BLUE_PORT}:80"
    environment:
      - RELEASE_ID=${RELEASE_ID_BLUE}
      - PORT=${APP_PORT}
    healthcheck:
      test: >
        CMD-SHELL node -e 'const http=require("http");
        const req=http.get("http://localhost:80/healthz",
        res=>{process.exit(res.statusCode===200?0:1)});
        req.on("error",()=>process.exit(1));
        setTimeout(()=>{try{req.abort()}catch(e){};process.exit(1)},3000);'
      interval: 5s
      timeout: 3s
      retries: 3
    restart: always

  green:
    image: ${GREEN_IMAGE}
    container_name: green_app
    ports:
      - "${GREEN_PORT}:80"
    environment:
      - RELEASE_ID=${RELEASE_ID_GREEN}
      - PORT=${APP_PORT}
    healthcheck:
      test: >
        CMD-SHELL node -e 'const http=require("http");
        const req=http.get("http://localhost:80/healthz",
        res=>{process.exit(res.statusCode===200?0:1)});
        req.on("error",()=>process.exit(1));
        setTimeout(()=>{try{req.abort()}catch(e){};process.exit(1)},3000);'
      interval: 5s
      timeout: 3s
      retries: 3
    restart: always

